{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "parser": "babel-eslint",
    "extends": ["airbnb-base", "plugin:prettier/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "prettier/prettier": "off",

        "array-callback-return": "off",
        "consistent-return": "off",
        "func-names": "off",
        "global-require": "off",
        "lines-between-class-members": "off",
        "max-classes-per-file": "off",
        "no-bitwise": "off",
        "no-caller": "off",
        "no-console": "off",
        "no-eval": "off",
        "no-extend-native": "off",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "no-proto": "off",
        "no-prototype-builtins": "off",
        "no-restricted-properties": "off",
        "no-restricted-syntax": "off",
        "no-shadow": "off",
        "no-underscore-dangle": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "warn",

        "import/newline-after-import": "off",
        "import/no-dynamic-require": "off"
    }
}
